<div class="footer footer-main-outer">
  <div class="footer-item active" onclick="window.location.href='/dashboard'"><i class="fa-solid fa-house"></i>Home</div>
  <div class="footer-item" onclick="window.location.href='/miningpool'" ><i class="fa-solid fa-server"></i>Mining Pool</div>
  <div class="footer-item" onclick="window.location.href='/mining'"><i class="fa-solid fa-chart-bar"></i>InvestPlus</div>
  <div class="footer-item" onclick="window.location.href='/mining/team'"><i class="fa-solid fa-users"></i>Team</div>
  <div class="footer-item" onclick="window.location.href='/settings/profile'"><i class="fa-solid fa-user"></i>Me</div>
</div>