
<div class="main px-lg-4 px-md-4">
    <%- include('../partials/header') %>
</div>
</nav>
</div>
<div class="body d-flex py-3">
    <div class="container-xxl">
        <div class="row align-items-center">
            <div class="border-0 mb-4">
                <div
                    class="card-header py-3 no-bg bg-transparent d-flex align-items-center px-0 justify-content-between border-bottom flex-wrap">
                    <h3 class="fw-bold mb-0">Unlock Exclusive Privileges - Deposit Your USDT Today!</h3>
                </div>
            </div>
        </div>
        <div class="row align-items-center mb-4">
            <div class="col-12">
                <div class="card overflow-hidden">
                    <div class="progress" style="height: 4px;">
                        <div class="progress-bar bg-danger" role="progressbar" aria-valuenow="32" aria-valuemin="0"
                            aria-valuemax="100" style="width: 20%;"></div>
                        <div class="progress-bar bg-info" role="progressbar" aria-valuenow="23" aria-valuemin="0"
                            aria-valuemax="100" style="width: 30%;"></div>
                        <div class="progress-bar bg-warning" role="progressbar" aria-valuenow="13" aria-valuemin="0"
                            aria-valuemax="100" style="width: 10%;"></div>
                        <div class="progress-bar bg-success" role="progressbar" aria-valuenow="7" aria-valuemin="0"
                            aria-valuemax="100" style="width: 40%;"></div>
                    </div>
                    <div class="card-body">
                        <div class="row g-3">
                            <div class="col-md-3 col-sm-6">
                                <div class="card p-3 bg-warning">
                                    <div class="text-uppercase fs-4">$500.00 - $2500.00</div>
                                    <div class="mt-3"><span class="fw-bold h5 mb-0">BONUS 2%</span><span class="ms-1"><i
                                                class="fa fa-caret-up"></i></span></div>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6">
                                <div class="card p-3 bg-success">
                                    <div class="text-uppercase fs-4">$2501.00 - $5000.00</div>
                                    <div class="mt-3"><span class="fw-bold h5 mb-0">BONUS 3%</span><span class="ms-1"><i
                                                class="fa fa-caret-up"></i></span></div>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6">
                                <div class="card p-3 bg-info">
                                    <div class="text-uppercase fs-4">$5001.00 - $10000.00</div>
                                    <div class="mt-3"><span class="fw-bold h5 mb-0">BONUS 4%</span><span class="ms-1"><i
                                                class="fa fa-caret-up"></i></span></div>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6">
                                <div class="card p-3 bg-secondary">
                                    <div class="text-uppercase fs-4">$10001.00 - $100000.00</div>
                                    <div class="mt-3"><span class="fw-bold h5 mb-0">BONUS 5%</span><span class="ms-1"><i
                                                class="fa fa-caret-up"></i></span></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div
                class="card-header py-3 d-flex justify-content-between bg-transparent border-bottom align-items-center flex-wrap">
                <ul class="nav nav-tabs tab-body-header rounded d-inline-flex" role="tablist">
                    <li class="nav-item"><a class="nav-link active" data-bs-toggle="tab" href="#cryptoDepositTab"
                            role="tab">USDT</a></li>
                </ul>
            </div>
            <div class="card-body">
                <div class="tab-content">
                    <div id="cryptoDepositTab" class="tab-pane fade show active text-center">
                        <div class="container row">
                            <div class="col-12 mb-4">
                                <h6 class="mb-0 fw-bold">Deposit USDT</h6>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 col-sm-12 col-md-6">
                                <!---->
                            </div>
                            <div class="col-12 col-sm-12 col-md-6">
                                <div class="d-flex flex-column flex-lg-row mb-3">
                                    <!---->
                                    <!---->
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="d-flex justify-content-center">
                                <div class="col-4"><button
                                        class="btn flex-fill btn-warning py-2 fs-5 text-uppercase px-5" type="button">
                                        Connect Wallet </button></div>
                            </div>
                        </div>
                        <!---->
                        <!---->
                    </div>
                </div>
            </div>
        </div>
        <div class="row align-items-center">
            <div class="border-0 mb-4">
                <div
                    class="card-header py-3 no-bg bg-transparent d-flex align-items-center px-0 justify-content-between border-bottom flex-wrap">
                    <h3 class="fw-bold mb-0">Privilege Club</h3>
                </div>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-12">
                <div class="card mb-3">
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th scope="col">Sr.No</th>
                                        <th scope="col">Amount</th>
                                        <th scope="col">Bonus Amount</th>
                                        <th scope="col">TXN #</th>
                                        <th scope="col">Date</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td colspan="5">
                                            <div class="col-auto text-center">No record found!</div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="row align-items-center">
                            <!---->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>