<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NovaNFT</title>

    <link rel="icon" href="/assets/images/novaLogo2.png" type="image/png">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">

    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="stylesheet" href="/assets/css/novaStyle.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Oxanium:wght@200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</head>

<!-- Header -->

<header class="header-landing-page">
    <div class="container">
        <div class="inner-header-custm">
            <div class="header-logo">
                <a href="#"><img src="/images/logo.jpg"></a>
            </div>
            <div class="sign-in-btn">
                <a href="/login">Sign In Now</a>
            </div>
        </div>
    </div>
</header>

<!-- The Next Evolution Section -->

<section class="main-next-evolution-sec">
    <div class="container">
        <div class="inner-volution-div">
            <div class="top-intelligence-title">
                <h4>Where Intelligence, Innovation, and the Future Converge.</h4>
            </div>
            <div class="main-evolution-heading">
                <h2 class="main-title">The Next Evolution of Digital Intelligence Starts Here</h2>
            </div>
            <div class="main-content-evolution">
                <p> In a world driven by rapid innovation, <span>GlobalX</span> stands at the intersection of <span>AI,
                        blockchain, and intelligent systems</span> transforming complexity into opportunity.</p>
            </div>
            <div class="main-evolution-btn">
                <a href="#" class="register-btn custm-btn">Register Now <svg xmlns="http://www.w3.org/2000/svg"
                        width="24" height="20" viewBox="0 0 24 20" fill="none" stroke="currentColor" stroke-width="2"
                        stroke-linecap="round" stroke-linejoin="round"
                        class="lucide lucide-arrow-right-icon lucide-arrow-right">
                        <path d="M5 12h14" />
                        <path d="m12 5 7 7-7 7" />
                    </svg></a>
                <a href="#" class="join-comm-btn custm-btn">Join The Community</a>
            </div>
            <div class="autonomous-text">
                <p>Smart. Autonomous. Hyper-Intelligent.</p>
            </div>
        </div>
    </div>
</section>

<!-- About GlobalX Section -->

<section class="main-about-section">
    <div class="container">
        <div class="inner-about-dv">
            <div class="top-main-heading">
                <h3 class="sub-title">About Hypercodex</h3>
                <h2 class="main-title">Your Gateway To The Future of AI</h2>
            </div>
            <div class="marquee-container">
                <div class="marquee-left marquee">
                    <div class="marquee-item">
                        <div class="top-svg-icon">
                            <svg class="framer-nRS3r framer-1e4jaj6" role="presentation"
                                style="--1m6trwb: 0; --21h8s6: var(--token-d779b990-1a82-4bf1-b680-e23454fd89bf, rgb(255, 255, 255)); --pgex8v: 1.5; opacity: 1;"
                                viewBox="0 0 24 24">
                                <use href="#450316432"></use>
                            </svg>
                        </div>
                        <div class="icon-box-title">
                            <h3>HyperAI Intelligence Engine</h3>
                        </div>
                    </div>
                    <div class="marquee-item">
                        <div class="top-svg-icon">
                            <svg class="framer-Ox5MB framer-1e4jaj6" role="presentation"
                                style="--1m6trwb: 0; --21h8s6: var(--token-d779b990-1a82-4bf1-b680-e23454fd89bf, rgb(255, 255, 255)); --pgex8v: 1.5; opacity: 1;"
                                viewBox="0 0 24 24">
                                <use href="#3408461578"></use>
                            </svg>
                        </div>
                        <div class="icon-box-title">
                            <h3>Quantum-Fast Data Processing</h3>
                        </div>
                    </div>
                    <div class="marquee-item">
                        <div class="top-svg-icon">
                            <svg class="framer-gy408 framer-1e4jaj6" role="presentation"
                                style="--1m6trwb: 0; --21h8s6: var(--token-d779b990-1a82-4bf1-b680-e23454fd89bf, rgb(255, 255, 255)); --pgex8v: 1.5; opacity: 1;"
                                viewBox="0 0 24 24">
                                <use href="#2608650484"></use>
                            </svg>
                        </div>
                        <div class="icon-box-title">
                            <h3>Web3-Enabled Infrastructure</h3>
                        </div>
                    </div>
                    <div class="marquee-item">
                        <div class="top-svg-icon">
                            <svg class="framer-DITGk framer-1e4jaj6" role="presentation"
                                style="--1m6trwb: 0; --21h8s6: var(--token-d779b990-1a82-4bf1-b680-e23454fd89bf, rgb(255, 255, 255)); --pgex8v: 1.5; opacity: 1;"
                                viewBox="0 0 24 24">
                                <use href="#282897690"></use>
                            </svg>
                        </div>
                        <div class="icon-box-title">
                            <h3>Global Developer Ecosystem</h3>
                        </div>
                    </div>
                    <div class="marquee-item">
                        <div class="top-svg-icon">
                            <svg class="framer-nRS3r framer-1e4jaj6" role="presentation"
                                style="--1m6trwb: 0; --21h8s6: var(--token-d779b990-1a82-4bf1-b680-e23454fd89bf, rgb(255, 255, 255)); --pgex8v: 1.5; opacity: 1;"
                                viewBox="0 0 24 24">
                                <use href="#450316432"></use>
                            </svg>
                        </div>
                        <div class="icon-box-title">
                            <h3>HyperAI Intelligence Engine</h3>
                        </div>
                    </div>
                    <div class="marquee-item">
                        <div class="top-svg-icon">
                            <svg class="framer-nRS3r framer-1e4jaj6" role="presentation"
                                style="--1m6trwb: 0; --21h8s6: var(--token-d779b990-1a82-4bf1-b680-e23454fd89bf, rgb(255, 255, 255)); --pgex8v: 1.5; opacity: 1;"
                                viewBox="0 0 24 24">
                                <use href="#450316432"></use>
                            </svg>
                        </div>
                        <div class="icon-box-title">
                            <h3>HyperAI Intelligence Engine</h3>
                        </div>
                    </div>
                    <div class="marquee-item">
                        <div class="top-svg-icon">
                            <svg class="framer-Ox5MB framer-1e4jaj6" role="presentation"
                                style="--1m6trwb: 0; --21h8s6: var(--token-d779b990-1a82-4bf1-b680-e23454fd89bf, rgb(255, 255, 255)); --pgex8v: 1.5; opacity: 1;"
                                viewBox="0 0 24 24">
                                <use href="#3408461578"></use>
                            </svg>
                        </div>
                        <div class="icon-box-title">
                            <h3>Quantum-Fast Data Processing</h3>
                        </div>
                    </div>
                    <div class="marquee-item">
                        <div class="top-svg-icon">
                            <svg class="framer-gy408 framer-1e4jaj6" role="presentation"
                                style="--1m6trwb: 0; --21h8s6: var(--token-d779b990-1a82-4bf1-b680-e23454fd89bf, rgb(255, 255, 255)); --pgex8v: 1.5; opacity: 1;"
                                viewBox="0 0 24 24">
                                <use href="#2608650484"></use>
                            </svg>
                        </div>
                        <div class="icon-box-title">
                            <h3>Web3-Enabled Infrastructure</h3>
                        </div>
                    </div>
                    <div class="marquee-item">
                        <div class="top-svg-icon">
                            <svg class="framer-DITGk framer-1e4jaj6" role="presentation"
                                style="--1m6trwb: 0; --21h8s6: var(--token-d779b990-1a82-4bf1-b680-e23454fd89bf, rgb(255, 255, 255)); --pgex8v: 1.5; opacity: 1;"
                                viewBox="0 0 24 24">
                                <use href="#282897690"></use>
                            </svg>
                        </div>
                        <div class="icon-box-title">
                            <h3>Global Developer Ecosystem</h3>
                        </div>
                    </div>
                    <div class="marquee-item">
                        <div class="top-svg-icon">
                            <svg class="framer-nRS3r framer-1e4jaj6" role="presentation"
                                style="--1m6trwb: 0; --21h8s6: var(--token-d779b990-1a82-4bf1-b680-e23454fd89bf, rgb(255, 255, 255)); --pgex8v: 1.5; opacity: 1;"
                                viewBox="0 0 24 24">
                                <use href="#450316432"></use>
                            </svg>
                        </div>
                        <div class="icon-box-title">
                            <h3>HyperAI Intelligence Engine</h3>
                        </div>
                    </div>
                    <div class="marquee-item">
                        <div class="top-svg-icon">
                            <svg class="framer-nRS3r framer-1e4jaj6" role="presentation"
                                style="--1m6trwb: 0; --21h8s6: var(--token-d779b990-1a82-4bf1-b680-e23454fd89bf, rgb(255, 255, 255)); --pgex8v: 1.5; opacity: 1;"
                                viewBox="0 0 24 24">
                                <use href="#450316432"></use>
                            </svg>
                        </div>
                        <div class="icon-box-title">
                            <h3>HyperAI Intelligence Engine</h3>
                        </div>
                    </div>
                    <div class="marquee-item">
                        <div class="top-svg-icon">
                            <svg class="framer-Ox5MB framer-1e4jaj6" role="presentation"
                                style="--1m6trwb: 0; --21h8s6: var(--token-d779b990-1a82-4bf1-b680-e23454fd89bf, rgb(255, 255, 255)); --pgex8v: 1.5; opacity: 1;"
                                viewBox="0 0 24 24">
                                <use href="#3408461578"></use>
                            </svg>
                        </div>
                        <div class="icon-box-title">
                            <h3>Quantum-Fast Data Processing</h3>
                        </div>
                    </div>
                    <div class="marquee-item">
                        <div class="top-svg-icon">
                            <svg class="framer-gy408 framer-1e4jaj6" role="presentation"
                                style="--1m6trwb: 0; --21h8s6: var(--token-d779b990-1a82-4bf1-b680-e23454fd89bf, rgb(255, 255, 255)); --pgex8v: 1.5; opacity: 1;"
                                viewBox="0 0 24 24">
                                <use href="#2608650484"></use>
                            </svg>
                        </div>
                        <div class="icon-box-title">
                            <h3>Web3-Enabled Infrastructure</h3>
                        </div>
                    </div>
                    <div class="marquee-item">
                        <div class="top-svg-icon">
                            <svg class="framer-DITGk framer-1e4jaj6" role="presentation"
                                style="--1m6trwb: 0; --21h8s6: var(--token-d779b990-1a82-4bf1-b680-e23454fd89bf, rgb(255, 255, 255)); --pgex8v: 1.5; opacity: 1;"
                                viewBox="0 0 24 24">
                                <use href="#282897690"></use>
                            </svg>
                        </div>
                        <div class="icon-box-title">
                            <h3>Global Developer Ecosystem</h3>
                        </div>
                    </div>
                    <div class="marquee-item">
                        <div class="top-svg-icon">
                            <svg class="framer-nRS3r framer-1e4jaj6" role="presentation"
                                style="--1m6trwb: 0; --21h8s6: var(--token-d779b990-1a82-4bf1-b680-e23454fd89bf, rgb(255, 255, 255)); --pgex8v: 1.5; opacity: 1;"
                                viewBox="0 0 24 24">
                                <use href="#450316432"></use>
                            </svg>
                        </div>
                        <div class="icon-box-title">
                            <h3>HyperAI Intelligence Engine</h3>
                        </div>
                    </div>
                </div>
                <div class="marquee marquee-right ">
                    <div class="marquee-item">
                        <div class="top-svg-icon">
                            <svg class="framer-BiCng framer-1e4jaj6" role="presentation" viewBox="0 0 24 24"
                                style="--1m6trwb: 0; --21h8s6: var(--token-d779b990-1a82-4bf1-b680-e23454fd89bf, rgb(255, 255, 255)); --pgex8v: 1.5; opacity: 1;">
                                <use href="#2164235900"></use>
                            </svg>
                        </div>
                        <div class="icon-box-title">
                            <h3>Fragmented data</h3>
                        </div>
                    </div>
                    <div class="marquee-item">
                        <div class="top-svg-icon">
                            <svg class="framer-11zbO framer-1e4jaj6" role="presentation" viewBox="0 0 24 24"
                                style="--1m6trwb: 0; --21h8s6: var(--token-d779b990-1a82-4bf1-b680-e23454fd89bf, rgb(255, 255, 255)); --pgex8v: 1.5; opacity: 1;">
                                <use href="#3654778820"></use>
                            </svg>
                        </div>
                        <div class="icon-box-title">
                            <h3>Centralized constraints</h3>
                        </div>
                    </div>
                    <div class="marquee-item">
                        <div class="top-svg-icon">
                            <svg class="framer-oXBdu framer-1e4jaj6" role="presentation" viewBox="0 0 24 24"
                                style="--1m6trwb: 0; --21h8s6: var(--token-d779b990-1a82-4bf1-b680-e23454fd89bf, rgb(255, 255, 255)); --pgex8v: 1.5; opacity: 1;">
                                <use href="#284417607"></use>
                            </svg>
                        </div>
                        <div class="icon-box-title">
                            <h3>HyperChain Layer</h3>
                        </div>
                    </div>
                    <div class="marquee-item">
                        <div class="top-svg-icon">
                            <svg class="framer-UBBNi framer-1e4jaj6" role="presentation" viewBox="0 0 24 24"
                                style="--1m6trwb: 0; --21h8s6: var(--token-d779b990-1a82-4bf1-b680-e23454fd89bf, rgb(255, 255, 255)); --pgex8v: 1.5; opacity: 1;">
                                <use href="#1592252891"></use>
                            </svg>
                        </div>
                        <div class="icon-box-title">
                            <h3>HyperVault Security</h3>
                        </div>
                    </div>
                    <div class="marquee-item">
                        <div class="top-svg-icon">
                            <svg class="framer-zgPBh framer-1e4jaj6" role="presentation" viewBox="0 0 24 24"
                                style="--1m6trwb: 0; --21h8s6: var(--token-d779b990-1a82-4bf1-b680-e23454fd89bf, rgb(255, 255, 255)); --pgex8v: 1.5; opacity: 1;">
                                <use href="#2441778265"></use>
                            </svg>
                        </div>
                        <div class="icon-box-title">
                            <h3>HyperBridge Integrations</h3>
                        </div>
                    </div>
                    <div class="marquee-item">
                        <div class="top-svg-icon">
                            <svg class="framer-BiCng framer-1e4jaj6" role="presentation" viewBox="0 0 24 24"
                                style="--1m6trwb: 0; --21h8s6: var(--token-d779b990-1a82-4bf1-b680-e23454fd89bf, rgb(255, 255, 255)); --pgex8v: 1.5; opacity: 1;">
                                <use href="#2164235900"></use>
                            </svg>
                        </div>
                        <div class="icon-box-title">
                            <h3>Fragmented data</h3>
                        </div>
                    </div>
                    <div class="marquee-item">
                        <div class="top-svg-icon">
                            <svg class="framer-11zbO framer-1e4jaj6" role="presentation" viewBox="0 0 24 24"
                                style="--1m6trwb: 0; --21h8s6: var(--token-d779b990-1a82-4bf1-b680-e23454fd89bf, rgb(255, 255, 255)); --pgex8v: 1.5; opacity: 1;">
                                <use href="#3654778820"></use>
                            </svg>
                        </div>
                        <div class="icon-box-title">
                            <h3>Centralized constraints</h3>
                        </div>
                    </div>
                    <div class="marquee-item">
                        <div class="top-svg-icon">
                            <svg class="framer-oXBdu framer-1e4jaj6" role="presentation" viewBox="0 0 24 24"
                                style="--1m6trwb: 0; --21h8s6: var(--token-d779b990-1a82-4bf1-b680-e23454fd89bf, rgb(255, 255, 255)); --pgex8v: 1.5; opacity: 1;">
                                <use href="#284417607"></use>
                            </svg>
                        </div>
                        <div class="icon-box-title">
                            <h3>HyperChain Layer</h3>
                        </div>
                    </div>
                    <div class="marquee-item">
                        <div class="top-svg-icon">
                            <svg class="framer-UBBNi framer-1e4jaj6" role="presentation" viewBox="0 0 24 24"
                                style="--1m6trwb: 0; --21h8s6: var(--token-d779b990-1a82-4bf1-b680-e23454fd89bf, rgb(255, 255, 255)); --pgex8v: 1.5; opacity: 1;">
                                <use href="#1592252891"></use>
                            </svg>
                        </div>
                        <div class="icon-box-title">
                            <h3>HyperVault Security</h3>
                        </div>
                    </div>
                    <div class="marquee-item">
                        <div class="top-svg-icon">
                            <svg class="framer-zgPBh framer-1e4jaj6" role="presentation" viewBox="0 0 24 24"
                                style="--1m6trwb: 0; --21h8s6: var(--token-d779b990-1a82-4bf1-b680-e23454fd89bf, rgb(255, 255, 255)); --pgex8v: 1.5; opacity: 1;">
                                <use href="#2441778265"></use>
                            </svg>
                        </div>
                        <div class="icon-box-title">
                            <h3>HyperBridge Integrations</h3>
                        </div>
                    </div>
                    <div class="marquee-item">
                        <div class="top-svg-icon">
                            <svg class="framer-BiCng framer-1e4jaj6" role="presentation" viewBox="0 0 24 24"
                                style="--1m6trwb: 0; --21h8s6: var(--token-d779b990-1a82-4bf1-b680-e23454fd89bf, rgb(255, 255, 255)); --pgex8v: 1.5; opacity: 1;">
                                <use href="#2164235900"></use>
                            </svg>
                        </div>
                        <div class="icon-box-title">
                            <h3>Fragmented data</h3>
                        </div>
                    </div>
                    <div class="marquee-item">
                        <div class="top-svg-icon">
                            <svg class="framer-11zbO framer-1e4jaj6" role="presentation" viewBox="0 0 24 24"
                                style="--1m6trwb: 0; --21h8s6: var(--token-d779b990-1a82-4bf1-b680-e23454fd89bf, rgb(255, 255, 255)); --pgex8v: 1.5; opacity: 1;">
                                <use href="#3654778820"></use>
                            </svg>
                        </div>
                        <div class="icon-box-title">
                            <h3>Centralized constraints</h3>
                        </div>
                    </div>
                    <div class="marquee-item">
                        <div class="top-svg-icon">
                            <svg class="framer-oXBdu framer-1e4jaj6" role="presentation" viewBox="0 0 24 24"
                                style="--1m6trwb: 0; --21h8s6: var(--token-d779b990-1a82-4bf1-b680-e23454fd89bf, rgb(255, 255, 255)); --pgex8v: 1.5; opacity: 1;">
                                <use href="#284417607"></use>
                            </svg>
                        </div>
                        <div class="icon-box-title">
                            <h3>HyperChain Layer</h3>
                        </div>
                    </div>
                    <div class="marquee-item">
                        <div class="top-svg-icon">
                            <svg class="framer-UBBNi framer-1e4jaj6" role="presentation" viewBox="0 0 24 24"
                                style="--1m6trwb: 0; --21h8s6: var(--token-d779b990-1a82-4bf1-b680-e23454fd89bf, rgb(255, 255, 255)); --pgex8v: 1.5; opacity: 1;">
                                <use href="#1592252891"></use>
                            </svg>
                        </div>
                        <div class="icon-box-title">
                            <h3>HyperVault Security</h3>
                        </div>
                    </div>
                    <div class="marquee-item">
                        <div class="top-svg-icon">
                            <svg class="framer-zgPBh framer-1e4jaj6" role="presentation" viewBox="0 0 24 24"
                                style="--1m6trwb: 0; --21h8s6: var(--token-d779b990-1a82-4bf1-b680-e23454fd89bf, rgb(255, 255, 255)); --pgex8v: 1.5; opacity: 1;">
                                <use href="#2441778265"></use>
                            </svg>
                        </div>
                        <div class="icon-box-title">
                            <h3>HyperBridge Integrations</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<!-- FAQ Section -->

<section class="main-faq-section">
    <div class="container">
        <div class="inner-faq-section">
            <div class="faq-heading">
                <h3 class="sub-title">FAQs</h3>
                <h2 class="main-title">Common Questions & Answers</h2>
            </div>
            <div class="main-faq-col">
                <div class="accordion">
                    <div class="accordion-item">
                        <button id="accordion-button-1">
                            <span class="accordion-title">What is GlobalX?</span>
                            <span class="icon"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                    viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                    stroke-linecap="round" stroke-linejoin="round"
                                    class="lucide lucide-circle-chevron-down-icon lucide-circle-chevron-down">
                                    <circle cx="12" cy="12" r="10" />
                                    <path d="m16 10-4 4-4-4" />
                                </svg></span>
                        </button>
                        <div class="accordion-content">
                            <p>
                                GlobalX is an advanced AI-powered digital ecosystem that integrates autonomous
                                intelligence, Web3 infrastructure, and hyper-fast data processing to enable
                                next-generation applications, automation, and decentralized systems.
                            </p>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <button id="accordion-button-2">
                            <span class="accordion-title">What makes Hypercodex different from other platforms?</span>
                            <span class="icon"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                    viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                    stroke-linecap="round" stroke-linejoin="round"
                                    class="lucide lucide-circle-chevron-down-icon lucide-circle-chevron-down">
                                    <circle cx="12" cy="12" r="10" />
                                    <path d="m16 10-4 4-4-4" />
                                </svg></span>
                        </button>
                        <div class="accordion-content">
                            <p>
                                What makes Hypercodex different from other platforms?
                            </p>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <button id="accordion-button-3">
                            <span class="accordion-title">Who can use Hypercodex?</span>
                            <span class="icon"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                    viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                    stroke-linecap="round" stroke-linejoin="round"
                                    class="lucide lucide-circle-chevron-down-icon lucide-circle-chevron-down">
                                    <circle cx="12" cy="12" r="10" />
                                    <path d="m16 10-4 4-4-4" />
                                </svg></span>
                        </button>
                        <div class="accordion-content">
                            <p>
                                Hypercodex is built for: Developers Startups Enterprises Web3 builders AI researchers
                                Automation engineers Data-driven businesses Anyone who wants to build intelligent,
                                scalable, and decentralized digital systems can use Hypercodex.
                            </p>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <button id="accordion-button-4">
                            <span class="accordion-title">What is the HyperAI Engine?</span>
                            <span class="icon"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                    viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                    stroke-linecap="round" stroke-linejoin="round"
                                    class="lucide lucide-circle-chevron-down-icon lucide-circle-chevron-down">
                                    <circle cx="12" cy="12" r="10" />
                                    <path d="m16 10-4 4-4-4" />
                                </svg></span>
                        </button>
                        <div class="accordion-content">
                            <p>
                                The HyperAI Engine is the core intelligence layer of Hypercodex. It performs pattern
                                recognition, predictions, optimization, automation, and autonomous execution across the
                                ecosystem.
                            </p>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <button id="accordion-button-5">
                            <span class="accordion-title">Does Hypercodex support blockchain integration?</span>
                            <span class="icon"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                    viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                    stroke-linecap="round" stroke-linejoin="round"
                                    class="lucide lucide-circle-chevron-down-icon lucide-circle-chevron-down">
                                    <circle cx="12" cy="12" r="10" />
                                    <path d="m16 10-4 4-4-4" />
                                </svg></span>
                        </button>
                        <div class="accordion-content">
                            <p>
                                Does Hypercodex support blockchain integration?
                            </p>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <button id="accordion-button-6">
                            <span class="accordion-title">Is Hypercodex decentralized or centralized?</span>
                            <span class="icon"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                    viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                    stroke-linecap="round" stroke-linejoin="round"
                                    class="lucide lucide-circle-chevron-down-icon lucide-circle-chevron-down">
                                    <circle cx="12" cy="12" r="10" />
                                    <path d="m16 10-4 4-4-4" />
                                </svg></span>
                        </button>
                        <div class="accordion-content">
                            <p>
                                Hypercodex combines decentralized intelligence and distributed computation, ensuring a
                                secure, scalable, and non-custodial digital environment.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<!-- Your Future Begins Here Section -->

<section class="future-begins-section">
    <div class="container">
        <div class="inner-future-begins">
            <div class="future-heading">
                <h2 class="main-title">Your Future Begins Here!</h2>
                <p>Join the World of Hypercodex Ecosystem Developers, creators, innovators, and tech pioneers.
                    Hypercodex gives you the tools to build the digital future and earn daily!</p>
                <div class="future-btm-btn">
                    <a href="#" class="custm-btn join-btn">Join waitlist <svg xmlns="http://www.w3.org/2000/svg"
                            width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                            stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                            class="lucide lucide-arrow-right-icon lucide-arrow-right">
                            <path d="M5 12h14" />
                            <path d="m12 5 7 7-7 7" />
                        </svg> </a>
                </div>
            </div>
        </div>
    </div>
</section>


<!-- Footer section -->

<footer class="main-nding-footer">
    <div class="container">
        <div class="inner-footer-div">
            <div class="footer-logo">
                <img src="/images/logo.jpg">
            </div>
            <div class="footer-content">
                <p>A self-evolving AI brain that powers decision-making, optimization, analytics, and autonomous
                    execution across the Hypercodex ecosystem.</p>
            </div>
            <div class="footer-social-icon">
                <p>Get latest updates here</p>
                <div class="footer-icon">
                    <ul>
                        <li>
                            <a href="#"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 256" focusable="false"
                                    color="var(--token-f6f63e47-c6aa-4f7c-a70d-53ea7837bfad, rgb(179, 179, 179))"
                                    style="user-select: none; width: 100%; height: 100%; display: inline-block; fill: var(--token-f6f63e47-c6aa-4f7c-a70d-53ea7837bfad, rgb(179, 179, 179)); color: var(--token-f6f63e47-c6aa-4f7c-a70d-53ea7837bfad, rgb(179, 179, 179)); flex-shrink: 0;">
                                    <g color="var(--token-f6f63e47-c6aa-4f7c-a70d-53ea7837bfad, rgb(179, 179, 179))"
                                        weight="regular">
                                        <path
                                            d="M214.75,211.71l-62.6-98.38,61.77-67.95a8,8,0,0,0-11.84-10.76L143.24,99.34,102.75,35.71A8,8,0,0,0,96,32H48a8,8,0,0,0-6.75,12.3l62.6,98.37-61.77,68a8,8,0,1,0,11.84,10.76l58.84-64.72,40.49,63.63A8,8,0,0,0,160,224h48a8,8,0,0,0,6.75-12.29ZM164.39,208,62.57,48h29L193.43,208Z">
                                        </path>
                                    </g>
                                </svg></a>
                        </li>
                        <li>
                            <a href="#"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 256" focusable="false"
                                    color="var(--token-f6f63e47-c6aa-4f7c-a70d-53ea7837bfad, rgb(179, 179, 179))"
                                    style="user-select: none; width: 100%; height: 100%; display: inline-block; fill: var(--token-f6f63e47-c6aa-4f7c-a70d-53ea7837bfad, rgb(179, 179, 179)); color: var(--token-f6f63e47-c6aa-4f7c-a70d-53ea7837bfad, rgb(179, 179, 179)); flex-shrink: 0;">
                                    <g color="var(--token-f6f63e47-c6aa-4f7c-a70d-53ea7837bfad, rgb(179, 179, 179))"
                                        weight="regular">
                                        <path
                                            d="M128,24A104,104,0,1,0,232,128,104.11,104.11,0,0,0,128,24Zm8,191.63V152h24a8,8,0,0,0,0-16H136V112a16,16,0,0,1,16-16h16a8,8,0,0,0,0-16H152a32,32,0,0,0-32,32v24H96a8,8,0,0,0,0,16h24v63.63a88,88,0,1,1,16,0Z">
                                        </path>
                                    </g>
                                </svg></a>
                        </li>
                        <li>
                            <a href="#"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 256" focusable="false"
                                    color="var(--token-f6f63e47-c6aa-4f7c-a70d-53ea7837bfad, rgb(179, 179, 179))"
                                    style="user-select: none; width: 100%; height: 100%; display: inline-block; fill: var(--token-f6f63e47-c6aa-4f7c-a70d-53ea7837bfad, rgb(179, 179, 179)); color: var(--token-f6f63e47-c6aa-4f7c-a70d-53ea7837bfad, rgb(179, 179, 179)); flex-shrink: 0;">
                                    <g color="var(--token-f6f63e47-c6aa-4f7c-a70d-53ea7837bfad, rgb(179, 179, 179))"
                                        weight="regular">
                                        <path
                                            d="M72,64a64,64,0,1,0,64,64A64.07,64.07,0,0,0,72,64Zm0,112a48,48,0,1,1,48-48A48.05,48.05,0,0,1,72,176ZM184,64c-5.68,0-16.4,2.76-24.32,21.25C154.73,96.8,152,112,152,128s2.73,31.2,7.68,42.75C167.6,189.24,178.32,192,184,192s16.4-2.76,24.32-21.25C213.27,159.2,216,144,216,128s-2.73-31.2-7.68-42.75C200.4,66.76,189.68,64,184,64Zm0,112c-5.64,0-16-18.22-16-48s10.36-48,16-48,16,18.22,16,48S189.64,176,184,176ZM248,72V184a8,8,0,0,1-16,0V72a8,8,0,0,1,16,0Z">
                                        </path>
                                    </g>
                                </svg></a>
                        </li>
                        <li>
                            <a href="#"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 256" focusable="false"
                                    color="var(--token-f6f63e47-c6aa-4f7c-a70d-53ea7837bfad, rgb(179, 179, 179))"
                                    style="user-select: none; width: 100%; height: 100%; display: inline-block; fill: var(--token-f6f63e47-c6aa-4f7c-a70d-53ea7837bfad, rgb(179, 179, 179)); color: var(--token-f6f63e47-c6aa-4f7c-a70d-53ea7837bfad, rgb(179, 179, 179)); flex-shrink: 0;">
                                    <g color="var(--token-f6f63e47-c6aa-4f7c-a70d-53ea7837bfad, rgb(179, 179, 179))"
                                        weight="regular">
                                        <path
                                            d="M224,112c0,22.57-7.9,43.2-22.23,58.11C188.39,184,170.25,192,152,192c-17.88,0-29.82-5.86-37.43-12l-10.78,45.82A8,8,0,0,1,96,232a8.24,8.24,0,0,1-1.84-.21,8,8,0,0,1-6-9.62l32-136a8,8,0,0,1,15.58,3.66l-16.9,71.8C122,166,131.3,176,152,176c27.53,0,56-23.94,56-64A72,72,0,1,0,73.63,148a8,8,0,0,1-13.85,8A88,88,0,1,1,224,112Z">
                                        </path>
                                    </g>
                                </svg></a>
                        </li>
                        <li>
                            <a href="#"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 256" focusable="false"
                                    color="var(--token-f6f63e47-c6aa-4f7c-a70d-53ea7837bfad, rgb(179, 179, 179))"
                                    style="user-select: none; width: 100%; height: 100%; display: inline-block; fill: var(--token-f6f63e47-c6aa-4f7c-a70d-53ea7837bfad, rgb(179, 179, 179)); color: var(--token-f6f63e47-c6aa-4f7c-a70d-53ea7837bfad, rgb(179, 179, 179)); flex-shrink: 0;">
                                    <g color="var(--token-f6f63e47-c6aa-4f7c-a70d-53ea7837bfad, rgb(179, 179, 179))"
                                        weight="regular">
                                        <path
                                            d="M228.88,26.19a9,9,0,0,0-9.16-1.57L17.06,103.93a14.22,14.22,0,0,0,2.43,27.21L72,141.45V200a15.92,15.92,0,0,0,10,14.83,15.91,15.91,0,0,0,17.51-3.73l25.32-26.26L165,220a15.88,15.88,0,0,0,10.51,4,16.3,16.3,0,0,0,5-.79,15.85,15.85,0,0,0,10.67-11.63L231.77,35A9,9,0,0,0,228.88,26.19Zm-61.14,36L78.15,126.35l-49.6-9.73ZM88,200V152.52l24.79,21.74Zm87.53,8L92.85,135.5l119-85.29Z">
                                        </path>
                                    </g>
                                </svg></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>


<script>
    const items = document.querySelectorAll('.accordion button');

    function toggleAccordion() {
        const itemToggle = this.getAttribute('aria-expanded');

        for (i = 0; i < items.length; i++) {
            items[i].setAttribute('aria-expanded', 'false');
        }

        if (itemToggle == 'false') {
            this.setAttribute('aria-expanded', 'true');
        }
    }

    items.forEach((item) => item.addEventListener('click', toggleAccordion));




</script>