<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home page</title>
  <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
  <link rel="stylesheet" href="/assets/css/novaStyle.css" />
  <link href="https://fonts.cdnfonts.com/css/oxanium" rel="stylesheet">
</head>

<body>


  <!-- header-section -->
  <header>
    <div class="header-main-outer">
      <div class="header-left-div-wrp">
        <div class="logo">
          <img src="/assets/images/main-logo.svg" alt="logo" width="104" height="32">
        </div>
        <div class="threee-explore-menu">
          <nav>
            <ul>
              <li><a href="#">Explore</a></li>
              <li><a href="/user/getCollectionPage">Earn</a></li>
              <li><a href="#">Reserve</a></li>
            </ul>
          </nav>
        </div>
      </div>
      <div class="header-right-div-col">
        <a href="#">
          <img src="/assets/images/download-icon.svg" alt="icon">
        </a>
        <a href="#">
          <img src="/assets/images/notification.svg" alt="icon">
        </a>
        <a href="#">
          <img src="/assets/images/icon_tg_color.png" alt="icon">
        </a>
        <a href="#">
          <img src="/assets/images/language-icon.svg" alt="icon">
        </a>
      </div>
    </div>
  </header>


  <!-- collection-section -->
  <section class="collection-section-main-outer">
    <div class="collection-container">
      <div class="top-main-user-sec">
        <div class="left-img-top-collection">
          <img src="/assets/images/img_avatar_01_defult.png" alt="icon">
        </div>
        <div class="right-user-top-collection-wrp">
          <div class="heading-img">
            <span>Singhsuraj6601</span>
            <img src="/assets/images/badges_lv0.png" alt="icon">
          </div>
          <div class="point-cole-wrp">
            <span>0 Points</span>
            <span>Level Information</span>
          </div>
        </div>
      </div>
      <div class="collection-tabs-main-outer-wrp">
        <div class="collection-tabs-wrapper">
          <div class="tabs products-tabs">
            <div role="tablist" aria-label="USDT Earn Products" class="top-canvas-upper">

              <button role="tab" aria-selected="true" id="yieldCanvasTab">
                USDT Earn
              </button>

              <button role="tab" aria-selected="false" id="artisticAlphaTab">
                Record
              </button>


            </div>

            <div role="tabpanel" aria-labelledby="yieldCanvasTab" class="canvas-tabpannel-main-outer">
              <div class="canvas-box">
                <div class="cnvas-top-img-wrp">
                  <img src="/assets/images/collection-tab-img-1.png" alt="image">
                  <div class="blue-right-corner-wrp">
                    <span> <img src="/assets/images/collection-tab-right-icon.svg" alt="image"></span>
                    <span>1.3%</span>
                  </div>
                </div>
                <div class="canvas-bottom-cnt-wrp">
                  <h4>YieldCanvas USDT</h4>
                  <div class="amount-canvas-wrp">
                    <div class="amount-1st">
                      <span>Amount</span>
                      <span class="green-amount">100-2000</span>
                    </div>
                    <div class="amount-1st">
                      <span>Daily income</span>
                      <span class="card-rate-daily-income">1.3%</span>
                    </div>
                    <div class="amount-1st">
                      <span>Fees</span>
                      <span class="card-rate-daily-income">0%</span>
                    </div>
                  </div>
                  <div class="canvas-days-wrp">
                    <div class="days-ten-outer">
                      <span>Days</span>
                      <span class="days-ten-highilited">10day</span>
                    </div>
                    <div class="level-canvas-div">
                      <span>Level:</span>
                      <span class="green">Lv1 ~ Lv6</span>
                    </div>
                  </div>
                  <button> Details </button>
                </div>
              </div>
              <div class="canvas-box">
                <div class="cnvas-top-img-wrp">
                  <img src="/assets/images/collection-tab-img-1.png" alt="image">
                  <div class="blue-right-corner-wrp">
                    <span> <img src="/assets/images/collection-tab-right-icon.svg" alt="image"></span>
                    <span>1.3%</span>
                  </div>
                </div>
                <div class="canvas-bottom-cnt-wrp">
                  <h4>YieldCanvas USDT</h4>
                  <div class="amount-canvas-wrp">
                    <div class="amount-1st">
                      <span>Amount</span>
                      <span class="green-amount">100-2000</span>
                    </div>
                    <div class="amount-1st">
                      <span>Daily income</span>
                      <span class="card-rate-daily-income">1.3%</span>
                    </div>
                    <div class="amount-1st">
                      <span>Fees</span>
                      <span class="card-rate-daily-income">0%</span>
                    </div>
                  </div>
                  <div class="canvas-days-wrp">
                    <div class="days-ten-outer">
                      <span>Days</span>
                      <span class="days-ten-highilited">10day</span>
                    </div>
                    <div class="level-canvas-div">
                      <span>Level:</span>
                      <span class="green">Lv1 ~ Lv6</span>
                    </div>
                  </div>
                  <button> Details </button>
                </div>
              </div>
              <div class="canvas-box">
                <div class="cnvas-top-img-wrp">
                  <img src="/assets/images/collection-tab-img-1.png" alt="image">
                  <div class="blue-right-corner-wrp">
                    <span> <img src="/assets/images/collection-tab-right-icon.svg" alt="image"></span>
                    <span>1.3%</span>
                  </div>
                </div>
                <div class="canvas-bottom-cnt-wrp">
                  <h4>YieldCanvas USDT</h4>
                  <div class="amount-canvas-wrp">
                    <div class="amount-1st">
                      <span>Amount</span>
                      <span class="green-amount">100-2000</span>
                    </div>
                    <div class="amount-1st">
                      <span>Daily income</span>
                      <span class="card-rate-daily-income">1.3%</span>
                    </div>
                    <div class="amount-1st">
                      <span>Fees</span>
                      <span class="card-rate-daily-income">0%</span>
                    </div>
                  </div>
                  <div class="canvas-days-wrp">
                    <div class="days-ten-outer">
                      <span>Days</span>
                      <span class="days-ten-highilited">10day</span>
                    </div>
                    <div class="level-canvas-div">
                      <span>Level:</span>
                      <span class="green">Lv1 ~ Lv6</span>
                    </div>
                  </div>
                  <button> Details </button>
                </div>
              </div>
              <div class="canvas-box">
                <div class="cnvas-top-img-wrp">
                  <img src="/assets/images/collection-tab-img-1.png" alt="image">
                  <div class="blue-right-corner-wrp">
                    <span> <img src="/assets/images/collection-tab-right-icon.svg" alt="image"></span>
                    <span>1.3%</span>
                  </div>
                </div>
                <div class="canvas-bottom-cnt-wrp">
                  <h4>YieldCanvas USDT</h4>
                  <div class="amount-canvas-wrp">
                    <div class="amount-1st">
                      <span>Amount</span>
                      <span class="green-amount">100-2000</span>
                    </div>
                    <div class="amount-1st">
                      <span>Daily income</span>
                      <span class="card-rate-daily-income">1.3%</span>
                    </div>
                    <div class="amount-1st">
                      <span>Fees</span>
                      <span class="card-rate-daily-income">0%</span>
                    </div>
                  </div>
                  <div class="canvas-days-wrp">
                    <div class="days-ten-outer">
                      <span>Days</span>
                      <span class="days-ten-highilited">10day</span>
                    </div>
                    <div class="level-canvas-div">
                      <span>Level:</span>
                      <span class="green">Lv1 ~ Lv6</span>
                    </div>
                  </div>
                  <button> Details </button>
                </div>
              </div>
              <div class="canvas-box">
                <div class="cnvas-top-img-wrp">
                  <img src="/assets/images/collection-tab-img-1.png" alt="image">
                  <div class="blue-right-corner-wrp">
                    <span> <img src="/assets/images/collection-tab-right-icon.svg" alt="image"></span>
                    <span>1.3%</span>
                  </div>
                </div>
                <div class="canvas-bottom-cnt-wrp">
                  <h4>YieldCanvas USDT</h4>
                  <div class="amount-canvas-wrp">
                    <div class="amount-1st">
                      <span>Amount</span>
                      <span class="green-amount">100-2000</span>
                    </div>
                    <div class="amount-1st">
                      <span>Daily income</span>
                      <span class="card-rate-daily-income">1.3%</span>
                    </div>
                    <div class="amount-1st">
                      <span>Fees</span>
                      <span class="card-rate-daily-income">0%</span>
                    </div>
                  </div>
                  <div class="canvas-days-wrp">
                    <div class="days-ten-outer">
                      <span>Days</span>
                      <span class="days-ten-highilited">10day</span>
                    </div>
                    <div class="level-canvas-div">
                      <span>Level:</span>
                      <span class="green">Lv1 ~ Lv6</span>
                    </div>
                  </div>
                  <button> Details </button>
                </div>
              </div>
              <div class="canvas-box">
                <div class="cnvas-top-img-wrp">
                  <img src="/assets/images/collection-tab-img-1.png" alt="image">
                  <div class="blue-right-corner-wrp">
                    <span> <img src="/assets/images/collection-tab-right-icon.svg" alt="image"></span>
                    <span>1.3%</span>
                  </div>
                </div>
                <div class="canvas-bottom-cnt-wrp">
                  <h4>YieldCanvas USDT</h4>
                  <div class="amount-canvas-wrp">
                    <div class="amount-1st">
                      <span>Amount</span>
                      <span class="green-amount">100-2000</span>
                    </div>
                    <div class="amount-1st">
                      <span>Daily income</span>
                      <span class="card-rate-daily-income">1.3%</span>
                    </div>
                    <div class="amount-1st">
                      <span>Fees</span>
                      <span class="card-rate-daily-income">0%</span>
                    </div>
                  </div>
                  <div class="canvas-days-wrp">
                    <div class="days-ten-outer">
                      <span>Days</span>
                      <span class="days-ten-highilited">10day</span>
                    </div>
                    <div class="level-canvas-div">
                      <span>Level:</span>
                      <span class="green">Lv1 ~ Lv6</span>
                    </div>
                  </div>
                  <button> Details </button>
                </div>
              </div>
              <div class="canvas-box">
                <div class="cnvas-top-img-wrp">
                  <img src="/assets/images/collection-tab-img-1.png" alt="image">
                  <div class="blue-right-corner-wrp">
                    <span> <img src="/assets/images/collection-tab-right-icon.svg" alt="image"></span>
                    <span>1.3%</span>
                  </div>
                </div>
                <div class="canvas-bottom-cnt-wrp">
                  <h4>YieldCanvas USDT</h4>
                  <div class="amount-canvas-wrp">
                    <div class="amount-1st">
                      <span>Amount</span>
                      <span class="green-amount">100-2000</span>
                    </div>
                    <div class="amount-1st">
                      <span>Daily income</span>
                      <span class="card-rate-daily-income">1.3%</span>
                    </div>
                    <div class="amount-1st">
                      <span>Fees</span>
                      <span class="card-rate-daily-income">0%</span>
                    </div>
                  </div>
                  <div class="canvas-days-wrp">
                    <div class="days-ten-outer">
                      <span>Days</span>
                      <span class="days-ten-highilited">10day</span>
                    </div>
                    <div class="level-canvas-div">
                      <span>Level:</span>
                      <span class="green">Lv1 ~ Lv6</span>
                    </div>
                  </div>
                  <button> Details </button>
                </div>
              </div>
              <div class="canvas-box">
                <div class="cnvas-top-img-wrp">
                  <img src="/assets/images/collection-tab-img-1.png" alt="image">
                  <div class="blue-right-corner-wrp">
                    <span> <img src="/assets/images/collection-tab-right-icon.svg" alt="image"></span>
                    <span>1.3%</span>
                  </div>
                </div>
                <div class="canvas-bottom-cnt-wrp">
                  <h4>YieldCanvas USDT</h4>
                  <div class="amount-canvas-wrp">
                    <div class="amount-1st">
                      <span>Amount</span>
                      <span class="green-amount">100-2000</span>
                    </div>
                    <div class="amount-1st">
                      <span>Daily income</span>
                      <span class="card-rate-daily-income">1.3%</span>
                    </div>
                    <div class="amount-1st">
                      <span>Fees</span>
                      <span class="card-rate-daily-income">0%</span>
                    </div>
                  </div>
                  <div class="canvas-days-wrp">
                    <div class="days-ten-outer">
                      <span>Days</span>
                      <span class="days-ten-highilited">10day</span>
                    </div>
                    <div class="level-canvas-div">
                      <span>Level:</span>
                      <span class="green">Lv1 ~ Lv6</span>
                    </div>
                  </div>
                  <button> Details </button>
                </div>
              </div>
            </div>

            <div role="tabpanel" aria-labelledby="artisticAlphaTab" hidden class="canvas-tabpannel-main-outer">
              <div class="canvas-box">
                <div class="cnvas-top-img-wrp">
                  <img src="/assets/images/collection-tab-img-1.png" alt="image">
                  <div class="blue-right-corner-wrp">
                    <span> <img src="/assets/images/collection-tab-right-icon.svg" alt="image"></span>
                    <span>1.3%</span>
                  </div>
                </div>
                <div class="canvas-bottom-cnt-wrp">
                  <h4>YieldCanvas USDT</h4>
                  <div class="amount-canvas-wrp">
                    <div class="amount-1st">
                      <span>Amount</span>
                      <span class="green-amount">100-2000</span>
                    </div>
                    <div class="amount-1st">
                      <span>Daily income</span>
                      <span class="card-rate-daily-income">1.3%</span>
                    </div>
                    <div class="amount-1st">
                      <span>Fees</span>
                      <span class="card-rate-daily-income">0%</span>
                    </div>
                  </div>
                  <div class="canvas-days-wrp">
                    <div class="days-ten-outer">
                      <span>Days</span>
                      <span class="days-ten-highilited">10day</span>
                    </div>
                    <div class="level-canvas-div">
                      <span>Level:</span>
                      <span class="green">Lv1 ~ Lv6</span>
                    </div>
                  </div>
                  <button> Details </button>
                </div>
              </div>
            </div>


          </div>
        </div>
      </div>

    </div>
  </section>
  <!-- end-collection-section -->


  <!-- footer-section -->
  <footer class="footer-main-outer">
    <div class="footer-container">
      <!-- Left Section -->
      <div class="footer-left">
        <img src="/assets/images/footer-logo.svg" alt="logo" class="logo-footer" />
        <p class="footer-desc">
          Join our mailing list to stay in the loop with our newest feature releases, NFT drops, and tips and
          tricks for navigating Nova
        </p>
        <div class="email-block">
          <input type="email" placeholder="Enter your email address" />
          <button type="button" class="subscribe-btn">Subscribe</button>
        </div>
        <div class="sns-row">
          <a href="#" class="social-icon"><img src="/assets/images/icon-email.svg" alt="email" /></a>
          <a href="#" class="social-icon"><img src="/assets/images/icon-twitter.svg" alt="twitter" /></a>
          <a href="#" class="social-icon"><img src="/assets/images/icon-tiktok.svg" alt="tiktok" /></a>
          <a href="#" class="social-icon"><img src="/assets/images/icon-discord.svg" alt="discord" /></a>
          <a href="#" class="social-icon"><img src="/assets/images/icon-telegram.svg" alt="telegram" /></a>
          <a href="#" class="social-icon"><img src="/assets/images/icon-facebook.svg" alt="facebook" /></a>
          <a href="#" class="social-icon"><img src="/assets/images/icon-instagram.svg" alt="instagram" /></a>
          <a href="#" class="social-icon"><img src="/assets/images/icon-youtube.svg" alt="youtube" /></a>
        </div>
      </div>

      <!-- Right Section -->
      <div class="footer-right">
        <div class="link-wrap">
          <div class="resources-wrap">
            <a href="#"><span>Docs</span></a>
            <a href="#"><span>Blog</span></a>
            <a href="#"><span>How to buy</span></a>
          </div>
          <div class="news-wrap">
            <a href="#"><span>Invite friends</span></a>
            <a href="#"><span>Tutorials</span></a>
          </div>
        </div>
        <div class="download-wraps">
          <a href="#" class="download-btn app-store">
            <img src="/assets/images/icon_download_apple_01.png" alt="APP Store" />
            <span>APP Store</span>
          </a>
          <a href="#" class="download-btn google-play">
            <img src="/assets/images/icon_download_android_01.png" alt="Google Play" />
            <span>Google Play</span>
          </a>
          <a href="#" class="download-btn apk">
            <img src="/assets/images/icon_download_apk_01.png" alt="APK" />
            <span>APK</span>
          </a>
        </div>
      </div>
    </div>

    <!-- Copyright -->
    <div class="copyright copy-right-container">
      <span>© 2025 - Nova Technology, Inc</span>
      <span class="cursor-pointer">Privacy Policy</span>
      <span class="cursor-pointer">Terms of service</span>
    </div>
  </footer>



  <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>

  <script>
    AOS.init();
  </script>


  <!-- collection-tab-js -->
  <script>
    const tabContainer = document.querySelector('.products-tabs');
    const tabButtons = tabContainer.querySelectorAll('[role="tab"]');
    const tabPanels = Array.from(tabContainer.querySelectorAll('[role="tabpanel"]'));

    function tabClickHandler(e) {
      // Hide all panels
      tabPanels.forEach(panel => {
        panel.hidden = true;
      });

      // Reset all tabs
      tabButtons.forEach(button => {
        button.setAttribute('aria-selected', 'false');
      });

      // Activate clicked tab
      e.currentTarget.setAttribute('aria-selected', 'true');

      // Show matching panel
      const id = e.currentTarget.id;
      const currentPanel = tabPanels.find(
        panel => panel.getAttribute('aria-labelledby') === id
      );

      currentPanel.hidden = false;
    }

    tabButtons.forEach(button => {
      button.addEventListener('click', tabClickHandler);
    });
  </script>
</body>
</html>

<script>
$(document).ready(function () {
  async function loadPlans() {
    try {
      const response = await $.ajax({
        url: "/api/plans", 
        method: "GET"
      });

      if (!response.success) {
        console.error("Failed to fetch plans");
        return;
      }

      const plans = response.data;

      // container where all boxes will go
      const container = $(".canvas-tabpannel-main-outer");
      container.empty();

      plans.forEach(function (plan) {
        const min = plan.min;
        const max = plan.max === null ? "Unlimited" : plan.max;

        const box = `
          <div class="canvas-box">
            <div class="cnvas-top-img-wrp">
              <img src="/assets/images/collection-tab-img-1.png" alt="image">
              <div class="blue-right-corner-wrp">
                <span><img src="/assets/images/collection-tab-right-icon.svg" alt="image"></span>
                <span>${plan.daily_percent}%</span>
              </div>
            </div>

            <div class="canvas-bottom-cnt-wrp">
              <h4>${plan.name}</h4>
              
              <div class="amount-canvas-wrp">
                <div class="amount-1st">
                  <span>Amount</span>
                  <span class="green-amount">${min} - ${max}</span>
                </div>

                <div class="amount-1st">
                  <span>Daily income</span>
                  <span class="card-rate-daily-income">${plan.daily_percent}%</span>
                </div>

                <div class="amount-1st">
                  <span>Fees</span>
                  <span class="card-rate-daily-income">0%</span>
                </div>
              </div>

              <div class="canvas-days-wrp">
                <div class="days-ten-outer">
                  <span>Time</span>
                  <span class="days-ten-highilited">${plan.months} months</span>
                </div>
                <div class="level-canvas-div">
                  <span>Level:</span>
                  <span class="green">Lv1 ~ Lv6</span>
                </div>
              </div>

              <button> Details </button>
            </div>
          </div>
        `;

        container.append(box);
      });

    } catch (err) {
      console.error("Error loading plans:", err);
    }
  }

  loadPlans();
});
</script>
