<!-- Header -->
<body class="main-landing-custm-page">
<header class="header-landing-page">
    <div class="container">
        <div class="inner-header-custm">
            <div class="header-logo">
                <img src="/images/logo.jpg">
            </div>
            <div class="sign-in-btn">
                <a href="#">Sign In Now</a>
            </div>
        </div>
    </div>
</header>

<!-- The Next Evolution Section -->

<section class="main-next-evolution-sec">
    <div class="container">
        <div class="inner-volution-div">
            <div class="top-intelligence-title">
                <h4>Where Intelligence, Innovation, and the Future Converge.</h4>
            </div>
            <div class="main-evolution-heading">
                <h2 class="main-title">The Next Evolution of Digital Intelligence Starts Here</h2>
            </div>
            <div class="main-content-evolution">
                <p> In a world driven by rapid innovation, <span>GlobalX</span> stands at the intersection of <span>AI, blockchain, and intelligent systems</span> transforming complexity into opportunity.</p>
            </div>
            <div class="main-evolution-btn">
                <a href="#" class="register-btn custm-btn">Register Now <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-arrow-right-icon lucide-arrow-right"><path d="M5 12h14"/><path d="m12 5 7 7-7 7"/></svg></a>
                <a href="#" class="join-comm-btn custm-btn">Join The Community</a>
            </div>
        </div>
    </div>
</section>

</body>