<div class="header Crypto-header">
  <div class="header-top">
    <img src="/assets/images/novaLogo2.png" alt="logo">
    <h2>NovaNFT Mining</h2>
    <i class="fa-solid fa-globe"></i>
  </div>
  <div class="wallet-info">
    <div> <span>Deposit Wallet</span>  <span class="depositedMoney">$0 </span></div>
    <div> <span >Withdraw Wallet</span>  <span class="withdrawBalance">$0 </span></div>
  </div>
</div>